*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // Sets 1 rem to 10px
  font-family: Roboto, 'san-serif';
  color: #464646;

  @media only screen and (max-width: $bp-largest) {
    font-size: 70%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 60.5%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 58.5;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 56.5;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 54.5%;
  }
}
