// RESPONSIVE BREAKPOINTS
$bp-largest: 125em; // 2000px
$bp-large: 75em; // 1200px
$bp-medium-large: 68.75em; // 1100px (need this for ipads)
$bp-medium: 62.5em; // 1000px
$bp-small: 50em; // 700px
$bp-smallest: 37.5em; // 650px

// COLORS
$color-pitt-gold: #FFB81C;
$color-pitt-blue: #003594;
$color-pitt-blue-light: #0059ff;