extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to PittBio Outreach Ectotherm ER!
  p Click on the link below to validate your account and create your password.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm Email and set password.
  p If you need any help, email us at example@example.com.