extends base 

block content
    .register-container
        form.register-form.forgot-password-form
            .password-form__register-inputs
                img.register-form__logo(src='/assets/logos/outreach-logo.png' alt='Logo')   
                label.register-label(for='email') Email
                input.register-email-input#resetEmail(type='email' name='email' required)
                .button-container
                    button.btn--login#btn--set-password(type='submit') Send Email