extends base 

block content
    .register-container
        form.register-form.reset-password-form
            .password-form__register-inputs
                input#reset-token(type='hidden' value=`${token}`)
                img.register-form__logo(src='/assets/logos/outreach-logo.png' alt='Logo')   
                label.register-label(for='newPW') New Password
                input.register-email-input#newPasswordReset(type='password' name='newPW' required autocomplete="new-password")
                label.register-label(for='confirmPW') Confirm Password
                input.register-email-input#confirmPasswordReset(type='password' name='confirmPW' required)
                .button-container
                    button.btn--login#btn--set-password(type='submit') Reset Password