extends base

block content
    .register-container
        form.register-form.password-form
            .password-form__register-inputs
                img.register-form__logo(src='/assets/logos/outreach-logo.png' alt='Logo')   
                label.register-label(for='newPW') Password
                input.register-email-input#newPassword(type='password' name='newPW' required autocomplete="new-password")
                label.register-label(for='confirmPW') Confirm Password
                input.register-email-input#confirmPassword(type='password' name='confirmPW' required)
                .button-container
                    button.btn--login#btn--set-password(type='submit') Set Password