extends base

block content
    .student-container
        .hero
            h1.hero__header--main
                | PittBio
            h1.hero__header--main--second
                | Outreach
            p.hero__header--sub
                | Ectotherm ER
            a.btn.btn--white.btn--animated(href='#statement') Learn More
        #statement.statement
            h2.statement__header(style='padding-top: 2em;')
                | Materials for Students
            p.statement__paragraph(style='text-align: center;')
                | Here is where you can find all of the necessary documents for the Ectotherm Module!

        .student-downloads
            .statement
            h4.statement__header(style='padding-top: 4rem;')
                | Prior to start of module:
                        
            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Dr. Richards Zawicki video
                    td.student-downloads__list--column100
                        a(href='') Watch
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Brainstorm Challenge
                    td.student-downloads__list--column100
                        a(href='../assets/students/5.EctothermER_StudentBrainstormChallenge_final.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Experimental Design
                    td.student-downloads__list--column100
                        a(href='../assets/students/6.Ectotherm ER Experimental Design_final.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Protocol:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Agar Frogs Protocol
                    td.student-downloads__list--column100
                        a(href='../assets/students/7.Ectotherm ER AgarFrogs Protocol_final2.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Data Collection:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Frogs Group Data
                    td.student-downloads__list--column100
                        a(href='../assets/students/8.Ectotherm ER Group Data 2Frogs_final.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Chytridiomycosis Infection:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Science Daily Article
                    td.student-downloads__list--column100
                        a(href='../assets/students/12.ScienceDailyArticle.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Science Daily Article Questions
                    td.student-downloads__list--column100
                        a(href='../assets/students/13.Ectotherm ER - Science Daily Article Questions_v2.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Data Analysis:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Histogram Analysis
                    td.student-downloads__list--column100
                        a(href='../assets/students/14a.EctothermER_Analysis_histogram_final.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Performance Curve Analysis
                    td.student-downloads__list--column100
                        a(href='../assets/students/14b.EctotherER_Analysis_performance curves.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Histogram Worksheet
                    td.student-downloads__list--column100
                        a(href='../assets/students/15.EctothermER_Histogram_Wksheet_Blank_final.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Sun-shade Frog Data for Histogram
                    td.student-downloads__list--column100
                        a(href='../assets/students/16.EctothermER_SunShadeFrogDataforHistogram.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Final Data Analysis:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Open-ended Response
                    td.student-downloads__list--column100
                        a(href='../assets/students/18.EctothermER_OpenEndedResponse_final.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Frog Performance Overlay
                    td.student-downloads__list--column100
                        a(href='../assets/students/19.Overlay_FrogPerformance_final.pdf') Download
                tr.student-downloads__list--row100
                    td.student-downloads__list--column100-1 Chytrid Performance Overlay
                    td.student-downloads__list--column100
                        a(href='../assets/students/20.Overlay_ChytridPerformance_final.pdf') Download
