extends base
block content
    .teacher-container
        .hero
            h1.hero__header--main
                | PittBio
            h1.hero__header--main--second
                | Outreach
            p.hero__header--sub
                | Ectotherm ER
            a.btn.btn--white.btn--animated(href='#statement') Learn More
        #statement.statement
            h2.statement__header(style='padding-top: 2em;')
                | Materials for Teachers
            p.statement__paragraph(style='text-align: center;')
                | Here is where you can find all of the necessary documents for the Ectotherm Module!
                
        .teacher-downloads
            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Protocols:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Protocol: Small Agar Frogs
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/7.Ectotherm ER AgarFrogs Protocol_SmallFrogs.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Protocol: Large Agar Frogs
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/7.AgarFrogsProtocol_6largefrogs.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 iButton Data Download Instructions
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/9.iButton data download instruction.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Metadata Spreadsheets:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Teacher Metadata Spreadsheet
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/10. Ectotherm ER Teacher Metadata_with mass.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 iButton Data Graphing Spreadsheet
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/11.Ectotherm ER ibutton_data_graphs.xlsx') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Data Analysis:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Data Analysis: Histogram
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/14a.EctothermER_Analysis_histogram.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Data Analysis: Tropical vs. Temperate
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/14c.EctothermER_Analysis_tropical vs temperate.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Data Analysis: Blank Histogram Worksheet
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/15.EctothermER_Histogram_Wksheet_Blank_final.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Frog Data Spreadsheet for Histogram
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/16.EctothermER_SunShadeFrogDataforHistogram.xlsx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Data Analysis: Plotted Histogram Worksheet
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/17.EctothermER_Histogram_Wksheet_Plotted_final.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Open Ended Response Worksheet
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/18.EctothermER_OpenEndedResponse_final.docx') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Answer Keys:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tbody
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Student Brainstorm Challenge Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_StudentBrainstormChallenge_Answer_Key.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Science Daily Article Reading Questions
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/Ectotherm ER_Science Daily Article Questions_v2.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Science Daily Article Reading Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER _Science Daily Article Questions_Answer_Key.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Experimental Design Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_Experimental Design_Answer_Key.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Frogs Under the Weather Data Collection Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_Group Data 2_Frogs_Answer_Key.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Frogs Under the Weather Analysis Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_Analysis_Answer_Key.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Frogs Under the Weather Open-Ended Answer Key
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_OpenEndedResponse_Answer_Key.pdf') Download

            .statement
                h4.statement__header(style='padding-top: 4rem;')
                    | Additional Resources:

            table.student-downloads__list--table
                thead.student-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                            th.teacher-downloads__column100--column Description
                            th.teacher-downloads__column100--column Link
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Frog Performance Overlay
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/19.Overlay_FrogPerformance_final.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Chytrid Performance Overlay
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/20.Overlay_ChytridPerformance_final.docx') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Helpful Vocabulary
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/21.Ectotherm ER Helpful Vocabulary_final.docx') Download
        
        .statement
            h4.statement__header(style='padding-top: 2em;')
                | Curriculum Standards 
            p.statement__paragraph(style='text-align: center;')
                | The following PDFs contains the PA state and NGSS curriculum standards for teachers.
        .teacher-downloads
            table.teacher-downloads__list--table
                thead.teacher-downloads__list--thead
                    tr.teacher-downloads__list--table-head
                        th.teacher-downloads__column100--column Description
                        th.teacher-downloads__column100--column Link
                tbody    
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Ectotherm ER NGSSTable
                        td.teacher-downloads__list--column100 
                            a(href='../assets/teachers/Ectotherm ER NGSSTable-ScienceScope_021220.pdf') Download
                    tr.teacher-downloads__list--row100
                        td.teacher-downloads__list--column100-1 Ectotherm ER Curriculum Standards
                        td.teacher-downloads__list--column100
                            a(href='../assets/teachers/EctothermER_CurriculumStandards.pdf') Download

                    